@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index C1</h1>
<h2><a href="/C1/Knockout">Knockout</a></h2>
<h2><a href="/C1/jQuery">jQuery</a></h2>
<h2><a href="/C1/Angular">Angular</a></h2>
